<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    
  </mat-toolbar>


<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" class="list-width">
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option routerLink="table" >
              DataTable
            </mat-list-option>
            <mat-list-option routerLink="">
                Forms
              </mat-list-option>
              <mat-list-option routerLink="attr">
                Ng Attribute
              </mat-list-option>
              <mat-list-option routerLink="ngclass">
                Ng Class
              </mat-list-option>
              <mat-list-option  >
                Contact Us
              </mat-list-option>
          </mat-selection-list>
          
         
      
    </mat-drawer>  
    
    
    <router-outlet></router-outlet>
  </mat-drawer-container>
  <mat-card>Footer


      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <mat-selection-list #shoes [multiple]="false">
                <mat-list-option >
                  Datatable
                </mat-list-option>
                <mat-list-option >
                    About
                  </mat-list-option>
                  <mat-list-option >
                    Services
                  </mat-list-option>
                  <mat-list-option >
                    Contact Us
                  </mat-list-option>
              </mat-selection-list>

        </mat-grid-tile>
        <mat-grid-tile>
            <mat-selection-list #shoes [multiple]="false">
                <mat-list-option >
                  Home
                </mat-list-option>
                <mat-list-option >
                    About
                  </mat-list-option>
                  <mat-list-option >
                    Services
                  </mat-list-option>
                  <mat-list-option >
                    Contact Us
                  </mat-list-option>
              </mat-selection-list>
        </mat-grid-tile>
        
      </mat-grid-list>

  </mat-card>

  
  